.jumbotron {
     background-color: yellow !important;
     color: black;
     margin-top: 50px;
}
 

.footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}
 

 .card-tour {
	flex: 1 200px;
	padding: 2px 5px 5px 5px;
	margin-top: 10px;

	
}

.footer-address-icon {
	width: 100%
	padding-right: 10px;
}	

.btn-reserva{
	width: 100%;
	border-radius: 0px;


}
.tab-content {
	padding-top: 10px
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 116px;
    margin-left: auto;
}
