.jumbotron {
  background-color: #fff0000;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #fff0000;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-tour {
  flex: 1 200px;
  padding: 2px 5px 5px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
